<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Postcard!</title>
  </head>
  <body>
    <h1>Fill in the prompt to create a MadLib!</h1>
    <form action="/madlib" method="post">
     <label for="one">Name</label>
     <input id="one" name="one" type="text">
     <label for="two">Name Two</label>
     <input id="two" name="two" type="text">
     <label for="three">Place</label>
     <input id="three" name="three" type="text">
     <label for="four">Adjective</label>
     <input id="four" name="four" type="text">
     <label for="five">Adjective</label>
     <input id="five" name="five" type="text">
     <label for="six">Verb - Past Tense</label>
     <input id="six" name="six" type="text">
     <label for="seven">Food Item</label>
     <input id="seven" name="seven" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>